html, body, section {
	height:100%;
	width:100%;
	padding:0;
	margin:0;
}

.button {
	margin: 10px 20px;
	list-style-type:none;
	border-radius: 5px;
	background-color:pink;
	padding:10px 15px;
	width:10%;
	text-align:center;
	font-size:2em;
	overflow:hidden;
	max-height:33px;
	color:#fff;
	text-decoration:none;
}

.button > a {
	color:#fff;
	text-decoration:none;
}

.button ul {
	background-color:#cff;
	padding: 0;
	width:200px;
	margin-top:6px;
}

.button ul li {
	width:100%;
	list-style-type:none;
}

.button ul li a {
	color:#fff;
	text-decoration:none;
}

.button li li {
	display:none;
}

.button.open .open ul {
	position:absolute;
	top:75px;
	left:275px;
}

.button.open .open li {
	display:inline-block;
}

.button.open {
	overflow:visible;
	-moz-transition: height 5s ease-in-out;
    -o-transition: height 5s ease-in-out;
    -webkit-transition: height 5s ease-in-out;
    transition: height 5s ease-in-out;
}

.button ul li.open ul {
	-moz-transition: height 5s ease-in-out;
    -o-transition: height 5s ease-in-out;
    -webkit-transition: height 5s ease-in-out;
    transition: height 5s ease-in-out;
}